.DS_Store
CLAUDE.local.md

# Credentials etc
.env
.aws/credentials
.config/gh/hosts.yml

zsh/ignored.zsh
zsh/_ignored.zsh

config/.config/gh/hosts.yml
config/.config/gcloud

htoprc

config/.config/raycast/
config/.config/github-copilot/
config/.config/sops/
