[core]
	autocrlf = input
	editor = nvim
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[user]
	name = Petri Hänninen
	email = hello@petrihanninen.com
[help]
	autocorrect = 1
[init]
  templateDir = ~/.config/git/template/
	defaultBranch = main
[pull]
	rebase = true
[coderabbit]
	machineId = cli/4037fe9d5a244589b91e05fa0ed0df34
